.container {
    margin: 100px 20px 150px 20px;
}
.profile-image {
    justify-self: center;
}
.card {
    box-shadow: none;
    margin-bottom: 100px;
}
.card-header {
    text-align: right;
}
.card-header > h4 {
    text-align: center;
}
.card:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
